<h1>Manage catalog passwords</h1>
  <div>Selected catalog: {{catalogRoute.currentlySelectedCatalogId}}</div>


  <h2 class=" margin-top">Current passwords</h2>
  <div class="mat-elevation-z8">
        
      <table width="100%"  mat-table [dataSource]="datasource" matSort class="short-last-column">

          <ng-container matColumnDef="comment">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Comment </th>
              <td mat-cell *matCellDef="let element"> {{element.Comment}}</td>
            </ng-container>
          
                <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef > </th>
                        <td mat-cell *matCellDef="let element"><button class="btn btn-light" (confirmAction)="removePassword(element)" confirmMessage="Are you absolutely certain you want to remove this password entry? Without a valid password or the master key backup, opening the catalog is not possible anymore."><i class="fas fa-trash-alt"></i></button></td>
                </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>

</div>

<h2>Assign new password</h2>

<form [formGroup]="addPw.form" (ngSubmit)="addPw.onSubmit()" class="full-width-fields">


        <mat-form-field >
                <input matInput placeholder="Password" formControlName="password" type="password" >
                <mat-error [showFirstError]="addPw.form.get('password')"></mat-error>
        </mat-form-field>  
        <div>
            <label>Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters. Strength of your password:</label>
            <password-strength-meter [password]="addPw.form.get('password').value" [enableFeedback]="true"></password-strength-meter>

        </div>
    
        <mat-form-field >
                <input matInput placeholder="Comment for later reference" formControlName="comment" >
                <mat-error [showFirstError]="addPw.form.get('comment')"></mat-error>
        </mat-form-field>                  

        <hr>
        <div class="text-center">
        <button class="btn btn-primary btn-user " type="submit" [disabled]="!currentCatalog">
          Assign password
        </button>
        </div>
      </form>