<div class="modal-header">
    <h4 class="modal-title">Share files of a cleartext catalog</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close(null)">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <form [formGroup]="clearForm.form" class="full-width-fields">
        <mat-form-field>
            <input matInput  type="text" placeholder="Enter the name of the share" formControlName="shareName" />        
            <mat-error [showFirstError]="clearForm.form.get('shareName')"></mat-error>
        </mat-form-field>

        <label>Expiration:</label>
        <table class="table" formGroupName="expiration">
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput  type="number" placeholder="Days" formControlName="days" />        
                        <mat-error [showFirstError]="clearForm.form.get('expiration').get('days')"></mat-error>
                    </mat-form-field>                    
                </td>
                <td>
                    <mat-form-field>
                        <input matInput  type="number" placeholder="Hours" formControlName="hours" />        
                        <mat-error [showFirstError]="clearForm.form.get('expiration').get('hours')"></mat-error>
                    </mat-form-field>                            
                </td>
                <td>
                    <mat-form-field>
                        <input matInput  type="number" placeholder="Minutes" formControlName="minutes" />        
                        <mat-error [showFirstError]="clearForm.form.get('expiration').get('minutes')"></mat-error>
                    </mat-form-field>                            
                </td>
                <td>
                    <mat-form-field>
                        <input matInput  type="number" placeholder="Seconds" formControlName="seconds" />        
                        <mat-error [showFirstError]="clearForm.form.get('expiration').get('seconds')"></mat-error>
                    </mat-form-field>                            
                </td>
            </tr>
        </table>

    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="clearForm.onSubmit()">Share</button>
    <button type="button" class="btn btn-light" (click)="modal.close(null)">Close</button>
</div>
