 <div class="modal-header">
    <h4 class="modal-title">Opening a protected catalog</h4>
    <button type="button" class="close" aria-label="Close" (click)="close(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <div>Catalog: {{catalogId}}</div>
   <div *ngIf="passwordFailed" class="text-danger">The password you provided is incorrect.</div>
   <br/>

   <div *ngIf="passwordMode">
        <h5 class="modal-title">Open catalog using password</h5>

        <form [formGroup]="password.form" class="full-width-fields">
            <mat-form-field>  
                <input matInput autoFocus type="password" placeholder="Enter password here" formControlName="password" (keyup.enter)="password.onSubmit()" required/>
                <mat-error [showFirstError]="password.form.get('password')"></mat-error>
             </mat-form-field>
        </form>

        <div *ngIf="!disableMasterKeyMode" class="margin-top">
                <a href (click)="toggle()">I want to open this catalog using a master key backup</a>
        </div>
     </div>

     <div *ngIf="!passwordMode">
        <h5 class="modal-title">Open catalog using master key</h5>

        <form [formGroup]="master.form"  class="full-width-fields">
            <mat-form-field>  
                <textarea required matInput rows=8 formControlName="masterKey" placeholder="Paste the json formatted master key from your backup here"></textarea>
                <mat-error [showFirstError]="master.form.get('masterKey')"></mat-error>
            </mat-form-field>
        </form>

        <div class="margin-top">
                <a href (click)="toggle()">Show me the password prompt again</a>
        </div>
     </div>
  </div>
  <div class="modal-footer">
    <button [hidden]="passwordMode" type="button" class="btn btn-success" (click)="master.onSubmit()">Open with master key</button>
    <button [hidden]="!passwordMode" type="button" class="btn btn-success" (click)="password.onSubmit()">Open with password</button>
    <button type="button" class="btn btn-light" (click)="close(false)">Cancel</button>
  </div>
